@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Epunda+Slab:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=TASA+Orbiter:wght@400..800&display=swap');
@import "tailwindcss";

@theme {
  --font-Asimovian: 'Asimovian', sans-serif;
  --font-Epunda-Slab: 'Epunda Slab', serif;
  --font-Inter: 'Inter', sans-serif;
  --font-TASA-Orbiter: 'TASA Orbiter', sans-serif;
}

body{
    overflow-x: hidden;
}
body::-webkit-scrollbar{
  display: none;
}

@keyframes rotate360 {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

#sec-1-1 img {
  animation: rotate360 10s linear infinite;
}